img{
    height: 700px;
    width: 400px;
}

.insta-logo{
    height: 100px;
    width: 200px;
}

.download-logo{
    height: 60px;
    width: 150px;
}

.logo-cont{
    display:flex;
    flex-direction: row;
}